{% extends "base_layout.html" %}
{% block content %}
<div class="content-section">
  <form class="md-form" method="post" action="" enctype="multipart/form-data">
   <div class="input-group">
      <div class="custom-file">
         <input type="file" class="custom-file-input" name="fd" id="inputGroupFile01"  autocomplete="off" required aria-describedby="inputGroupFileAddon01">
         <label class="custom-file-label" for="inputGroupFile01">Choose a CSV or JSON file</label>
      </div>
  
    <div class="row">&nbsp;
      <div class="col-md-12">
      </div>
   </div>
<!--   
     <br>
   <hr>
    <div class="input-group-prepend">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
 -->

</div>
 <hr/>
    <div class="p-2">
      <label> File Description </label>
      <input type="text" name="fdesc" id="fdesc"></input>
    </div>
    <div class="p-2">
      <label> File type </label>
      <select name="ftype" id="ftype">
	<option value="csv">CSV</option>
	<option value="json">JSON</option>
      </select>
    </div>
    <div class="p-2">
      <label> File Delimiter (applied for CSV-files only </label>
      <select name="fdelim" id="fdelim">
        <option value=","> ","(Comma-seperated)</option>
        <option value="|">"|" (Pipe-seperated)</option>
      </select>
    </div>
    <div class="p-2">
      <input type="checkbox" name="ingest_mode" id="ingest_mode"> </input>
      <label> Check to ingest data into Graph Database </label>
      <label> During upload, the file is cached however if you want to automatically ingest data as well, please check this option </label>      
   </div>
    <div class="p-2">
      <select id="bizdomain" name="bizdomain">
	<option value="sales"> Sales Domain </option>
	<option value="product"> Product Domain </option>
	<option value="customer"> Customer Domain </option>
	<option value="other"> Other </option>
     </select>
    
  <br>
   <hr>
    <div class="input-group-prepend">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>

   
 </form>
</div>
<div class="w-auto p-3" style="font-size:10px">
  <form method="POST" action="">
    <h6> Uploaded Files </h6>

   
    <table class="table">
      <thead>
        <tr>
	  <th scope="col"> fileid </th>
	  <th scope="col"> filename </th>
	  <th scope="col"> filetype </th>
	  <th scope="col"> filedesc </th>
	  <th scope="col"> filesize </th>
	  <th scope="col"> Action </th>
	</tr>
      </thead>	
      <tbody>
        {% for i in range(0, flen) %}
        <tr>
          <th>
	    {{ file_res[i].flid }}
          </th>
	  <th>
	    {{ file_res[i].filename }}
	  </th>
	  <th>
	    {{ file_res[i].fieltype }}
	  </th>
	  <th>
	    {{ file_res[i].filedesc }}
	  </th>
	  <th>
	    {{ file_res[i].filesize }}
	  </th>
	  <th>
 	    {{ file_res[i].state }}
	  </th>
	</tr>
	
	{% endfor %}
      </tbody>
    </table>
    
  </form>
</div>

 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="application/javascript">
 $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>
{% endblock content %}
