body {
  font: 10pt Open Sans;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.cymain {
  position: absolute;
  left: 10;
  top: 220;
  right: 10em;
  bottom: 5;
  z-index: 1;
}

.cytools {
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  position: absolute;
  right: 0;
  top: 220;
  bottom: 0;
  width: 15%;
  background: #fff;
  border-left: 1px solid #ddd;
  z-index: 1;
  overflow: auto;
}

.footer-link {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0.25em 0.5em;
  z-index: 2;
}

.action-icon {
  cursor: pointer;
}

h1 {
  margin: 0 0.125em;
  position: absolute;
  pointer-events: none;
  color: #bbb;
}

* + h2 {
  margin-top: 0.5em;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #044B54;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f2f2f2;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 12px;
  cursor: pointer;
  background-color: #044B54;
  color: white;
  padding: 2px 5px;
  margin: 2px;
  border: none;
}

.openbtn:hover {
  background-color: #818181;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.cyopts {
    margin-left: 14px;
    margin-right: 14px;
    padding: 8px 8px 8px 32px;
    background-color: #ffffff;
}
