<html>
 <head> 
     
 </head>
    <!-- Bootstrap CSS 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      -->
      
    <!-- Bootstrap Material design -->
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
 
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
     <script>$(document).ready(function() { /*$('body').bootstrapMaterialDesign();*/ });</script>
  
    <!---  end Materialdesign -->
            
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
 
   <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/normalize.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/skeleton.css' )}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/font-awesome.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/open-sans.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/index.css') }}" /> 
  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/tooltipster.bundle.min.css') }} " />

  <link rel="stylesheet" href="{{ url_for('static', filename='cola/css/cytoscape.js-panzoom.css') }} " />

  <script src="{{ url_for('static', filename='cola/js/cytoscape.min.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/cola.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/cytoscape-cola.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/tooltipster.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/srchview.js') }}"></script>
  <script src="{{ url_for('static', filename='cola/js/cytoscape-panzoom.js') }}"></script>

  
  <title>GnanaInsight DataView Panel</title>

<style>

</style>


<body>
  <!--  Meta View Header -->
  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Gnanapath</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('gn_home') }}">Home</a>
            </div>

           <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}

                <a class="nav-item nav-link" href="{{ url_for('gdb_config_settings_page') }}"> Graph Config</a>
                <a class="nav-item nav-link" href="{{ url_for('upload_file') }}">Upload</a>
                <a class="nav-item nav-link" href="{{ url_for('gnview_cola_api') }}">Searchview</a>
                <a class="nav-item nav-link" href="{{ url_for('gnmetaview_cola_api') }}">Metaview</a>
                <a class="nav-item nav-link" target="_blank" href="{{ url_for('gn_log_stream') }}">Logs </a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>


                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('user_login') }}">Login</a>

              {% endif %}
            </div>
          </div>
        </div>
      </nav>
      
      <!-- Search Panel -->
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top-2">	
          <div class="srchpanel" style="width: 80%">

	    <b> Data Search Panel </b>
	    
             <div class="input-group mt-3">
      
                  <input type="text" id="gnsrch_inp_id" class="form-control" placeholder="Enter Search String" aria-label="Enter Search String" aria-describedby="basic-addon2" style="color:black;font-size:18px">
                   <div class="input-group-append">
                      <button class="openbtn" type="button" id="srchbtn">Search </button>
	              <button class="openbtn" onclick="openNav()">☰ More Options</button>  
                   </div>
             </div>
	     <div class="input-group-append mx-1">
                 <label id="gnhdr_lbl" style="font-size:18px"></label>
   	         <label id="gnerr_lbl" style="color:red;font-size:16px"></label> 
	     </div>       
          </div>

          <div style="width:20%">
	      

             
    
   

	   </div>   

       </nav>

    </header>

    <div id="mySidebar" class="sidebar">

          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	  <div class="cyopts" class="mx-auto">
	     <h5> Filter Search Options </h5>

             <select id="gnnode_selid" name="gnnode_selid">
                <option value="select">Select Node</option>
             </select>
	     
	     <div class="input-group-text">
               <p> select nodes to limit search </p>
             </div>
	     <hr />
	     
             <hr />
        </div>	  
   </div>
	    
 <div  class="content-section">
     
     <div id="cy" class="cymain">  </div>

  <!--   Cy Right Bar -->
  <div class="cytools">
              <h6> Node Information </h6>

              <!-- <label id="selstatuslbl"></label>
		   <label id="selerrlbl" style="color:red"></label> -->
		 <p>
		   <label id="selnodename"></label>
		   <label id="selnodeid"></label>
		   <label id="selnodetype"></label>
		 </p>   
              <div>         
                   <button id="redo-layout" class="fa fa-refresh action-icon tooltop">Reset Layout</button>
	      </div>
	       <p>
                 <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Result Table</a>
               </p>

	       <div id="gndatatable" class="row">

                   <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                               Result Table		 
                            </div>
                         </div>
                   </div>   
               </div>
	       
  </div>
           
         
     
       <!-- 
           <h6>Zoom View</h6>

             <div class="slidecontainer">
                   <input type="range" min="1" max="100" value="50" id="gnzoomid" />  
                   <p>Node Space</p>
                   <input type="range" min="1" max="100" value="50" class="slider" id="gnnodespaceid">
            </div>
       -->  


       
  <!--  Temparorily Disable Graph Alg      
    <h4>Graph Algorithms</h4>


    <label for="algorithm" class="tooltip u-pull-left" title="Run algorithm. Try running A* a few times to see distances to different nodes">
        Run algorithm
      </label>
    <div class="u-cf"></div>
    <select id="algorithm">
        <option value="none" selected>None</option>
        <option value="bfs">BFS</option>
        <option value="dfs">DFS</option>
      </select>
    <i id="redo-algorithm" class="fa fa-refresh action-icon tooltip" title="Redo algorithm visualization"></i>
    -->
   
     
  <!-- </div>  cytools -->

</div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "450px";
  ///document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  ///document.getElementById("main").style.marginLeft= "0";
}
</script>

</body>
</html>
